<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Admin Page</title>

</head>

<body>
<div class="registerdoc" style="text-align:center; margin-top: 100px";>
       <h1>ADMIN</h1>
        <button class="button">
            Register A Doctor
        </button>
    </div >
    <div style="text-align: center">
        <button class="button" >
            Register a Hospital

        </button>
    </div>
    <div style="text-align: center">
        <button class="button" >
             Search For Doctors
    </button>
</div>
    <div style="text-align: center">
        <button class="button">
            Search For Patients
        </button>
    </div>

    <div style="text-align: center">
      <a href="{% url 'appointments:list'%}"> <button class="button">
            Search For Appointments
        </button>
        </a>
    </div>

    <div style="text-align: center">
        <button class="button">
            Block a User
        </button>
    </div>
    </body>
</body>
</html>