{% extends 'base.html' %}

{% block title %}
    <title>HomePage</title>
{% endblock %}

{% block menuTitle %}
    <h1 class="display-2"><b>HomePage</b></h1>
    <p>This is a national appointment system.</p>
{% endblock %}

{% block leftNavbar %}
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link disabled" href="">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url "news" %}">News</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url "contact" %}">Contact</a>
        </li>
    </ul>
{% endblock %}

{% block rightNavbar %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Member Transactions
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{% url "login" %}">Login</a>
            <a class="dropdown-item" href="{% url "signup2" %}">Register</a>
            <a class="dropdown-item" href="{% url "forgetPassword" %}">Forget Password</a>
        </div>
    </li>
{% endblock %}

{% block container %}
    <div class="card bg-success">
        <div class="card-body">
            <h4 class="card-title">For Doctors:</h4>
            <p class="card-text">Your membership information has already been registered by admin. To access your
                membership information, check your email. If you want to start your membership process, please contact
                the admin from the "Contact" section.</p>
        </div>
    </div>
    <p>
        <div class="card bg-info">
            <div class="card-body">
                <h4 class="card-title">For Patients:</h4>
    <p class="card-text">If you have never been a member before, click the "Member Transactions" button at the top
        right. In the opened section, click register and you will see the following page; complete your registration by
        filling in the relevant blanks.
    <p>
        If you have already created a membership, click the login button on the top right of the "Member Transactions"
        to
        login.
    <p>
        If this is your first time loging in, update your membership information as the first job as soon as you access
        the patient page. Once you've done this, you will be able to use the functions on the patient page.
    </p>
    </div>
    </div>
    <p></p>
    <div class="card bg-warning">
        <div class="card-body">
            <h4 class="card-title">Accessible Provinces and Hospitals:</h4>
            <p class="card-text">Accessible Provinces: Istanbul, Izmir, Ankara
            <p>
            Accessible Hospitals of Istanbul: Liv Hospital, Medipol Hospital, Yeditepe University Hospital
            <p>
            Accessible Hospitals of Ankara: Ibni Sina Hospital, Ankara University Hospital
            <p>
            Accessible Hospitals of Izmir: Medical Park Hospital, Gazi Hospital, Dokuz Eylul Hospital
        </p>
        </div>
    </div>
{% endblock %}
{% block container2 %}
    <div class="col-sm-4">
        <div class="panel panel-primary">
            <div class="panel-heading"></div>
            <div class="panel-body"></div>
            <div class="panel-footer"></div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-primary">
            <div class="panel-heading"></div>
            <div class="panel-body"></div>
            <div class="panel-footer"></div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-primary">
            <div class="panel-heading"></div>
            <div class="panel-body"></div>
            <div class="panel-footer"></div>
        </div>
    </div>
    </div>
{% endblock %}